body {
  background-color: #b0daf1;
}

button {
  font-size: 1.1rem;
  background-color: #8d91c7;
}

button:hover {
  position: relative;
  top: 0.1rem;
  left: 0.1rem;
}

/* This inverts the color of the buttons */
button:active {
  /* background-color: #8d91c7; */
  filter: invert(100%);
}

#login {
  border: 2px solid #3e1929;
  color: #3e1929;
}

#signup {
  background-color: #3e1929;
  border: 2px solid #2a9d8f;
  color: #8d91c7;
}

/* A comma (,) can be used to select multiple elements at once to apply the same rules. */

h1,
h2 {
  color: yellow;
}
h1,
h2 {
  color: #3e1929;
}

section.post {
  border: 0.5px solid black;
  border-bottom: none;
  border-left: none;
  margin-top: 1.5rem;
}

span {
  color: #2a9d8f;
}

.tag {
  position: relative;
  bottom: 0.2rem;
  background-color: #845a6d;

  color: #eaeaea;
  padding: 0.15rem;
  border: 2px solid #3e1929;
  border-radius: 15%;
  font-size: 0.85rem;
}

.tag:hover {
  text-decoration: underline;
}

section span a {
  color: #8d91c7;
  text-decoration: none;
  font-weight: bold;
}

section span a:hover {
  text-decoration: underline;
}

footer a {
  color: red;
}

footer > a {
  color: #3e1929;
}

input[type='password'] {
  color: limegreen;
}

/* 
a[href*='./ind'] {
  color: magenta;
} 
*/

.test {
  filter: invert(100%);
}

.post:nth-of-type(2n) {
  background-color: #6fafd1;
}

h2::first-letter {
  font-size: 2rem;
}

/* Changes stuff about the first line only */
p::first-line {
  color: rgb(255, 0, 255);
}

/* Changes the way the selection background and related stuff looks */
p::selection {
  background-color: yellow;
  color: black;
}
/*******************************************************************************
Adjacent Combinator Markup Example
label + input {
  background-color: rgba(255, 0, 0, 0.288);
} 
 h2 + button {
  font-size: 400px;
}
*******************************************************************************/
