body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background-color: #d5d0cd;
  height: 500vh;
}

h1 {
  font-size: 4em;
  text-align: center;
}

nav {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  align-items: flex-start;
  justify-content: flex-end;
  background-color: #3d3d38;
  background-color: #9a998c;
  -webkit-box-shadow: 2px 6px 24px 9px rgba(0, 0, 0, 0.57);
  box-shadow: 2px 6px 24px 9px rgba(0, 0, 0, 0.57);
  max-width: 100%;
}

nav a,
nav li {
  padding-top: 1rem;
  margin-left: 1rem;
  -webkit-padding-start: 0;
  color: rgba(0, 0, 0, 0.61);
}

ul li {
  margin-left: 0;
}

nav a:nth-of-type(2) {
  padding-bottom: 1em;
}

ul,
li {
  list-style: none;

  padding: 0;
}
li {
  margin: 0.5rem 0 0.5rem 0;
}

ul {
  margin: 0.05rem 0 0.05rem 0;
}

@media (min-width: 912px) {
  nav {
    font-size: 1.3em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    gap: 0.6rem;

    background-color: #3d3d38;
    background-color: #9a998c;
    -webkit-box-shadow: 2px 6px 24px 9px rgba(0, 0, 0, 0.57);
    box-shadow: 2px 6px 24px 9px rgba(0, 0, 0, 0.57);
  }

  nav a {
    color: rgba(0, 0, 0, 0.61);
  }

  nav a:hover {
    color: #f8f4e3;
  }

  nav a:active {
    position: relative;
    top: 5px;
  }

  ul {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    flex-basis: 35%;
  }

  ul,
  li {
    margin: 0;
    padding: 0;
  }

  h1 {
    font-size: 6em;
    text-align: center;
    -webkit-text-stroke: #f8f4e3;
  }
}
