/* text-align controls where the text is aligned relative to the element the text is currently contained within  */
/* Font weight controls the boldness or thickness of the text
The specific font-family won't have access to every numbered font weight so will just pick what's closest and possible */

/* text-decoration:; controls the "decorative lines on text" like underlines and strike-throughs */

/* line-height controls the height of the line itself - not the text size. */

/* letter spacing controls the distance between letters */

/* If you just put down 'Serif' for example, for a font-family the browser will just pick whatever serif font works for it. */

@media (max-width: 660px) {
  nav {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  li {
    list-style: none;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  /* li {
    max-width: 10px;
  } */
}

@media (min-width: 661px) {
  nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    max-height: 600px;

    align-content: center;
    align-items: center;
  }

  li {
    list-style-type: none;
    border: 2px solid black;
    background-color: #a7a4a465;
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* width: 80%; */
    width: 18.75rem;
    height: 1.313rem;
  }

  li a {
    font-size: 1.1rem;
  }

  #top-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

body {
  background-color: #eaeaea;
}

h1 {
  text-align: center;
  font-weight: normal;
  /* text-decoration: underline overline line-through; */
  text-decoration: underline;
  font-size: 4rem;
  font-family: Arial, Helvetica, sans-serif;
}

/* header h2 {
  padding-left: 1.25rem;
} */

.no-underline {
  text-decoration: none;
}

p {
  text-align: left;

  /* line-height controls the height of the line itself - not the text size. */
  line-height: normal;

  /* letter spacing controls the distance between letters */
  letter-spacing: normal;
  font-family: Arial, Helvetica, 'Times New Roman', Times, serif sans-serif;
}

a {
  text-decoration: none;
  color: royalblue;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(151, 10, 151);
}

/* #misc {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
} */

/* ul {
  flex-basis: 80%;
} */

/* nav ul:nth-of-type(1) {
  flex-basis: 300px;
}

nav ul:nth-of-type(2) {
  flex-basis: 300px;
} */

/* li {
  list-style-type: none;
  border: 2px solid black;
  background-color: #a7a4a465;
  text-align: center;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
 
  width: 18.75rem;
  height: 1.313rem;
}

li a {
  font-size: 1.1rem;
} */
