body {
  background-color: #898952;
}

h1 {
  color: #37123c;
}

h2 {
  color: #37123c;
}

button {
  background-color: #945d5e;
}

p {
  color: #eaeaea;
  /* background-color is used just for changing the background color */

  /* "background: ~;" is more powerful and can do more than just change the background color */
  /* background: red; */
}
