body {
  box-sizing: border-box;
  background-color: #898952;
  /* border: solid black 2px; */
}

h1 {
  color: #37123c;
}

h2 {
  color: #37123c;
}
section {
  border-bottom: 0.5px solid black;
  border-left: 1rem #898952 solid;
}

button {
  background-color: #945d5e;
}

p {
  color: #eaeaea;
  /* background-color is used just for changing the background color */

  /* "background: ~;" is more powerful and can do more than just change the background color */
  /* background: red; */
}

ul li {
  color: #eaeaea;
}

p.selector-markup {
  font-weight: bold;
  /* color: #945d5e; */
  /* color: rgb(139, 34, 34); */
  color: rgb(98 22 22);
}

span.selector-markup {
  font-weight: bold;
}

.selector-practice {
  border-bottom: none;
  border-left: none;
  margin-top: 1.5rem;
}

.tab {
  padding-left: 0.8rem;
}

main a {
  text-decoration: none;
}

main a:hover {
  text-decoration: underline;
}

main a:active {
  filter: invert(100%);
}

img {
  max-width: 60%;
  height: auto;
}
