body {
  background-color: #898952;
  border: solid black 2px;
  padding: 1rem;
}

h1 {
  color: #37123c;
}

h2 {
  color: #37123c;
}
section,
h2.notes-start {
  border-bottom: 0.5px solid black;
}

button {
  background-color: #945d5e;
}

p {
  color: #eaeaea;
  /* background-color is used just for changing the background color */

  /* "background: ~;" is more powerful and can do more than just change the background color */
  /* background: red; */
}

ul li {
  color: #eaeaea;
}

p.selector-markup {
  font-weight: bold;
  /* color: #945d5e; */
  color: rgb(139, 34, 34);
}

span.selector-markup {
  font-weight: bold;
}

.selector-practice {
  border-bottom: none;
  border-left: none;
  margin-top: 1.5rem;
}

main a {
  text-decoration: none;
}

main a:hover {
  text-decoration: underline;
}

main a:active {
  filter: invert(100%);
}
