.card {
  width: 210px;
  text-align: center;
  border: 1px solid grey;
  border-radius: 5px;
}

img {
  box-sizing: border-box;
  width: 200px;
  border: 5px solid rgb(236, 183, 191);
  border-radius: 50%;
}
