body {
  font-family: 'Open Sans', sans-serif;
}
h1 {
  text-align: center;
}

/*
==========================================================================

                            Flexbox Practice

==========================================================================
*/

#container {
  display: flex;

  /* This turns on flexbox for this container */

  /*
==========================================================================

                            flex-direction

                            justify-content

                            main axis

==========================================================================
*/

  /* flex-direction: row; */
  /* flex-direction: row-reverse; */
  /* flex-direction: column; */
  /* flex-direction: column-reverse; */
  /* Direction of items on the main axis */
  /* If the items in a container are too large,                                          */
  /* Column and other flex properties will shrink the items until they fit the container */

  /* justify-content: flex-end; */
  /* Content ends at the right side of the container */

  /* justify-content: center; */
  /* Centers the content on the (main) axis) */

  /* justify-content: space-between; */
  /* Takes all of the extra space and distributes it between the elements - not on the far left and right of the container though */

  /* justify-content: space-around; */
  /* Same amount of space on the left and right of every individual item */

  /* justify-content: space-evenly; */
  /* Exactly same amount of space between every item and between the left and right side of the container */

  /*  ==========================================================================*/

  /* Random Practice */
  /* flex-direction: row-reverse; */
  /* This makes it so the row is reversed and starts on the right */
  /* justify-content: flex-end; */
  /* Then, since row-reverse makes the items start from the right of the main axis
        the flex-end moves the items to the left portion of the main axis.
  */

  /* flex-direction: column-reverse;
  justify-content: flex-start; */

  /* 
  ==========================================================================
  ==========================================================================
  flex-wrap 
  ==========================================================================
  ==========================================================================
  */

  /* flex-direction: column;
  justify-content: flex-end;
  flex-wrap: wrap-reverse; */

  /* flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap-reverse; */

  /* 
  ==========================================================================
  
                                  Align Items 
                                  (cross axis)  
  
  ==========================================================================
  */

  /* flex-direction: row-reverse; */

  /* align-items: flex-end; */
  /* This sticks the items at the end of the cross axis */
  /* flex-wrap: wrap-reverse; */
  /* This flips the direction of the cross axis - so the items end up on the top of the container */

  /* 
  ==========================================================================
  
                                  align-content 
                                   (cross axis)  
  
  ==========================================================================
  */

  /* 
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: space-between; 
  */

  /* Column Layout ^
  ====================================================================================================================================================================== */
  background-color: #003049;
  width: 90%;
  /* height: 1000px; */
  margin: 0 auto;
  border: 5px solid #003049;

  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: center;

  /* align-items: flex-end; */
}

/* 
====================================================================================
align-self: aligns items themselves within a flex container (along the cross axis)
====================================================================================
*/

/* div:nth-of-type(1) {
  align-self: flex-start;
}

div:nth-of-type(2) {
  align-self: center;
}

div:nth-of-type(3) {
  align-self: flex-end;
}

div:nth-of-type(4) {
  align-self: center;
}

div:nth-of-type(5) {
  align-self: flex-start;
} */

/* 
==========================================================================
==========================================================================
*/

/* 
==========================================================================
flex container div sizing:
  flex-basis (main axis)
==========================================================================
*/

#container div {
  /* width: 200px; */
  height: 200px;
  font-size: 4em;
  text-align: center;
  flex-basis: 600px;
}

div:nth-of-type(1) {
  flex-grow: 1; /*Takes 1x the space */
  flex-shrink: 2;
}

div:nth-of-type(2) {
  flex-grow: 3;
  flex-shrink: 0;
}

main {
  width: 80%;
  margin: 0 auto;
  border: 5px solid black;
  height: 500px;
  display: flex;

  flex-direction: row;
  justify-content: center;
}

/* main section {
  flex-basis: 80%;
} */

.maincontent {
  background-color: rgb(250, 215, 164);
  flex: 2 1 50%;
}

.sidebar {
  background-color: #003049;
  flex: 1 2 15%;
}
